<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express devskills</title>
</head>
<body>
    <a href="/skills">All dev skills</a>
	<h3><%= skill.skill %></h3>
	<h3>Level: <%= skill.level  %></h3>
</body>
</html>