<!DOCTYPE html>
<html>
  <head>
    <title>dev Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Dev Skills</h1>
    <a href="/skills">dev skills</a>
    
  </body>
</html>
